<!--div class="outer-container">
    <div class="inner-container"-->
        <div class="content">
            <rock (click)="selectRock(rock)" [verticalBuffer]="verticalBuffer" [floor]="floor" [scale]="scale" [ngStyle]="{'width': rock.timeSpan * 40}" *ngFor="let rock of rocks; let i = index;" [rocks]="rocks" [rock]="rock"></rock>
        </div>
        <div *ngIf="selectedRockIndex>=0" class="input">
            <label>Rock Delta</label><input type="number" [(ngModel)]="rocks[selectedRockIndex].delta">
        </div>
        <div>{{JSON.stringify(rocks)}}</div>
    <!--/div>
    <div class="window">
    </div>
</div-->