<div class="infinite-container" [ngStyle]="{'width': config.width, 'height': config.height}"(scroll)="handleScroll($event)">
    <div class="infinite-content">
        <svg #infiniteChartSVG *ngIf="init" [attr.width]="canvasWidth" [attr.height]="config.height" preserveAspectRatio="none">
            <path *ngIf="xScale" stroke="red" stroke-width="50" fill="transparent" [attr.d]="'M0 0 H' + (max_x - min_x) * xScale"/>
            <path *ngFor="let guide of verticalGuides" stroke-width="50" stroke="black" [attr.d]="getGuideD(guide)"/>
            <g infinite-sub *ngFor="let datum of dataArray; trackBy: identify" [min_x]="min_x" id="group_{{datum.id}}" [minorScale]="xScale" [p]="datum" (output)="change.emit($event);"></g>
        </svg>
    </div>
</div>