<h1>when</h1>
<section class="container-fluid placeholder">
	<infinite-chart [inputData]="transactions" (dataRequest)="retrieveData($event)" [translate]="translator()" (dataRequest)="retrieveData"></infinite-chart>
</section>
<h2>Transactions</h2>
<rolling-table [transactions]="transactions" (select)="select($event)"></rolling-table>
<!--iv #scrollContainer class="container test test2" (scroll)="scrollStream.next({left: $event.target.scrollLeft, cWidth: $event.target.clientWidth, width: $event.target.scrollWidth})"-->
<!--div class="content"-->
<!--rock (animationTrigger)="animationTrigger($event)" (click)="selectRock(rock)" [verticalBuffer]="verticalBuffer" [ceiling]="ceiling" [floor]="floor" [scale]="scale" [ngStyle]="{'width': rock.timeSpan * 40}" *ngFor="let rock of rocks; let i = index;" [rocks]="rocks" [rock]="rock"></rock-->


<!--/div>
</div-->
<!--rock-editor *ngIf="selectedRockIndex > 0 && rocks[selectedRockIndex]" [rock]="rocks[selectedRockIndex]" (redraw)="redraw()"></rock-editor-->